.Catsgram {
  width: 100%;
  font-size: 2.75rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 2rem;
  font-weight: 600;
  p {
    padding: 3rem 0rem 2rem 2rem;
    /* margin-left: 2rem; */
  }
}

.button-container {
  //background-color: aqua;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  border-right: 0.5px solid rgb(201, 201, 201);
}

.button {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 2.5rem 0;
  outline: 0 !important;
  border: 0 !important;
  border-radius: 0.5rem;
  width: 95%;
  height: 40px;
  margin: 0 auto;
  color: black;
  transition: all ease-in-out 0.3s;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-bottom: 0.7rem;
  }

  &:hover {
    background-color: #f2f2f2;

    svg {
      transform: translateY(-1px);
    }
  }

  h3 {
    font-size: 1.75rem;
    font-weight: normal;
    margin-left: 2rem;
  }
}

.button:hover {
  //transform: translateY(-3px);
}

.icon {
  font-size: 2.75rem;
  margin-left: 2rem;
}
