@import "../../index.scss";

.ch {
  position: relative;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 8rem;
}
.Catsgram {
  //background-color: bisque;
  width: 100%;
  font-size: 2.75rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 2rem;
  font-weight: 600;

  p {
    padding: 3rem 0rem 2rem 2rem;
  }

  @include respond(tab-land) {
    opacity: 0;
  }

  @include respond(tab-port) {
    display: none;
  }

  &.message-active {
    opacity: 0;
  }
}

.button-container {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 23rem;
  height: 100%;
  bottom: 0;
  border-right: 0.5px solid rgb(201, 201, 201);
  z-index: 10;

  @include respond(tab-land) {
    width: 8rem;
  }

  @include respond(tab-port) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
  }

  &.message-active {
    width: 8rem;

    @include respond(tab-port) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 5rem;
    }
  }
}

#idSearch {
  @include respond(tab-port) {
    display: none;
  }
}

.button {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 2.5rem 0;
  outline: 0 !important;
  border: 0 !important;
  border-radius: 0.5rem;
  width: 95%;
  height: 40px;
  margin: 0 auto;
  color: black;
  transition: all ease-in-out 0.3s;
  cursor: pointer;

  @include respond(tab-land) {
    width: 75%;
    //background-color: aquamarine;
  }

  @include respond(tab-port) {
    width: 100%;
    border-radius: 0;
  }

  &:not(:last-of-type) {
    margin-bottom: 0.7rem;

    @include respond(tab-land) {
      margin-bottom: 1.3rem;
    }

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  &:hover {
    background-color: #f2f2f2;

    svg {
      transform: translateY(-1px);
    }
  }

  h3 {
    font-size: 1.75rem;
    font-weight: normal;
    margin-left: 2rem;

    @include respond(tab-land) {
      display: none;
    }
  }

  &.message-active {
    width: 75%;

    .icon {
      font-size: 3rem;
      margin: 0 auto;
    }

    h3 {
      display: none;
    }

    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}

.button:hover {
  //transform: translateY(-3px);
}

.icon {
  font-size: 2.75rem;
  margin-left: 2rem;

  @include respond(tab-land) {
    font-size: 3rem;
    margin: 0 auto;
  }
}
