.layout {
  display: flex;
  margin: 0 auto;
  width: 79%;
  //background-color: red;
  height: 15rem;
  align-items: flex-end;
}

.stories {
  display: flex;
  width: 100%;
  height: 65%;
  //background-color: rgb(233, 237, 229);
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.storyHolder {
  display: flex;
  //background-color: aqua;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 2rem;
}

.story {
  cursor: pointer;
  position: relative;
  width: 7.85rem;
  height: 80%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
  border: 2px solid transparent; /* Adjust the border size as needed */
  background-clip: padding-box; /* Apply the gradient to the padding area, not border */

  img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 100%;
    z-index: 5;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 93%;
    height: 93%;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
  }
}
