@import "../../index.scss";

.ExploreLayout {
  //background-color: blanchedalmond;
  display: flex;

  margin-left: 9rem;
  margin-top: 3rem;
  width: 110%;
  //min-height: 500rem;

  @include respond(tab-land) {
    margin: 3rem auto;
  }

  @include respond(tab-port) {
    width: 90%;
    margin: 3rem auto;
  }
  @include respond(phone) {
    width: 100%;
    margin: 0;
  }
}
